Source: g4music-goodstyle
Section: music
Priority: optional
Maintainer: Ghost <ghost@uci.cu>
Build-Depends: debhelper-compat (= 13), libadwaita-1-dev, libgstreamer-plugins-base1.0-dev, libgstreamer1.0-dev, valac, meson
Standards-Version: 4.6.0
#Vcs-Browser: https://salsa.debian.org/debian/g4music-goodstyle
Rules-Requires-Root: no

Package: g4music-goodstyle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A fast, fluent, light weight music player written in GTK4
 - Supports most music file types, samba and any other remote protocols (thanks to great GIO and GStreamer).
 - Fast loading and parsing thousands of music files in very few seconds.
 - Low memory usage for huge playlist with album covers, no thumbnail caches to store.
 - Sorts by album/artist/title or shuffle, supports full-text searching.
 - Supports embedded album art or external images as album cover, embedded can be exported.
 - Gaussian blurred cover as window background, follows GNOME 42 light/dark mode.
 - Supports drag-drop from GNOME Files, showing music in Files.
 - Supports audio peaks visualizer.
 - Supports gapless playback.
 - Supports ReplayGain track mode.
 - Supports pipewire audio sink.
 - Supports MPRIS control.
